//BEGIN team-slider-wrap
.team-slider-wrap
  .container
    #team-slider.team-slider
      .swiper-wrapper
        //BEGIN slide
        .team-slider__item.swiper-slide
          .team-slider__img
            img(src="assets/img/docs/01.jpg" alt="doc")
            a(href="mailto:baltimorecitydentalgroup@gmail.com").team-slider__mail
              svg
                use(xlink:href="assets/img/sprite.svg#mail")
          h4.team-slider__name.h4 Dr. Salar Barekatain
          .team-slider__position Doctor
          ul.team-slider__licensies
            li.team-slider__licensies-item American Dental Association
            li.team-slider__licensies-item Howard University College of Dentistry
            li.team-slider__licensies-item American Academy of Cosmetic Dentistry
          .team-slider__langs Fluent in English, German and Farsi (Persian).
        //END   slide

        //BEGIN slide
        .team-slider__item.swiper-slide
          .team-slider__img
            img(src="assets/img/docs/02.jpg" alt="doc")
            a(href="mailto:baltimorecitydentalgroup@gmail.com").team-slider__mail
              svg
                use(xlink:href="assets/img/sprite.svg#mail")
          h4.team-slider__name.h4 Dr. Nader Afgan
          .team-slider__position Doctor
          ul.team-slider__licensies
            li.team-slider__licensies-item American Dental Association
            li.team-slider__licensies-item Maryland State Dental Association
            li.team-slider__licensies-item American Academy of Cosmetic Dentistry
          .team-slider__langs Fluent in English, German and Farsi. Conversational in Spanish.
        //END   slide

        //BEGIN slide
        .team-slider__item.swiper-slide
          .team-slider__img
            img(src="assets/img/docs/03.jpg" alt="doc")
            a(href="mailto:baltimorecitydentalgroup@gmail.com").team-slider__mail
              svg
                use(xlink:href="assets/img/sprite.svg#mail")
          h4.team-slider__name.h4 Kunhyung Kim
          .team-slider__position DMD
          ul.team-slider__licensies
            li.team-slider__licensies-item American Dental Association
        //END   slide

        //BEGIN slide
        .team-slider__item.swiper-slide
          .team-slider__img
            img(src="assets/img/docs/04.jpg" alt="doc")
            a(href="mailto:baltimorecitydentalgroup@gmail.com").team-slider__mail
              svg
                use(xlink:href="assets/img/sprite.svg#mail")
          h4.team-slider__name.h4 Lora Ipsum
          .team-slider__position Assistant
        //END   slide
//END   team-slider-wrap