mixin why-we-item(img)
  .why-we-slider__img.swiper-slide
    img(src="assets/img/sliders/why-we/" + img + ".jpg" alt="Dental group")

//BEGIN why-we-slider
#why-we-slider.why-we-slider
  .swiper-wrapper
    +why-we-item('01')
    +why-we-item('02')
    +why-we-item('03')
    +why-we-item('04')
    +why-we-item('05')
    +why-we-item('01')
    +why-we-item('02')
    +why-we-item('03')
    +why-we-item('04')
    +why-we-item('05')
//END   why-we-slider