//BEGIN banner-review
.banner-review-wrap
  .container
    .row
      .banner-review.col-12
        .row
          .col-xxl-1
          .col-12.col-lg-6.col-xxl-5
            h2.banner-review__title.h2 We value <span>our reputation</span>
            .banner-review__descr.body-l As result – 96.2% positive real reviews on Google from our patients confirm this.
          .col-12.col-sm-6.col-lg-4.col-xxl-3
            .banner-review__google
              img(src="assets/img/google.png" alt="google reviews")
          .col-12.col-sm-6.col-lg-2.col-xxl-2
            button.btn.btn--default.banner-review__btn
              span write a review
          .col-xxl-1
//END   banner-review