//BEGIN banner
.banner-wrap
  .container
    .banner.col-12
      .banner__item
        h3.banner__title.h3 If you have an emergency situation – there is no time to think about it to long
        .banner__descr.body-m Call immediately or schedule an appointment online. We proudly serve families in Baltimore, Baltimore City, Townson, Owings Mills, and Pikesville, MD.
        .banner__footer
          .banner__phone
            .banner__phone-text by phone
            a(href="tel:4106850002").banner__phone-link.h4 (410) 685 - 0002

          button.banner__btn.btn.btn--default
            span book an Appointment online
//END   banner