//BEGIN choose
#choose.choose.p-120
  .container
    .row
      .col-12
        h2.choose__title.h2 Choose <span>an Experienced</span> General Dentist
        .choose__descr.body-l
          p Don’t settle for dental services administered by any clinic. Instead, choose a dentist office that can offer more than two decades’ worth of guidance and resources. Our staff knows that not everyone’s mouth is the same. Therefore, not every treatment is right for your smile’s particular needs. Rest easy knowing we evaluate every course of treatment available to you before recommending one in particular.
    //BEGIN item
    .choose__item
      .row
        .col-12.col-lg-6
          .choose__img
            img(src="assets/img/choose-01.jpg" alt="img")
        .col-12.col-lg-6
          .choose__info
            .choose__title.h3 Specializing in Family Dentistry
            .choose__text.body-s For many people, it’s impossible to think about a trip to the dentist without anticipating pain. However, our dentist office wants you to know that pain isn’t a factor when you trust our team with your teeth. We specialize in providing a pain free experience, so we can minimize any discomfort you feel during your procedure or treatment. We have years of experience treating many different types and ages of patients. Reach out today to our office to set up an appointment. See and feel the difference!
    //END   item

    //BEGIN item
    .choose__item
      .row
        .col-12.col-lg-6
          .choose__img
            img(src="assets/img/choose-02.jpg" alt="img")
        .col-12.col-lg-6
          .choose__info
            .choose__title.h3 Are you looking for a dentist that specializes in treating children’s dental issues?
            .choose__text.body-s You can depend on our staff for help with those, as well. We’re experienced pediatric dentists, and we’re more than happy to help treat problems that arise as your little one grows older. From the first cavity to wisdom tooth removal, we’re there for your child at every stage of life.
    //END   item
//END   choose