//BEGIN footer
footer.footer
  //BEGIN top
  .footer-top
    .container
      .row
        .col-12.col-lg-6
          h2.h2.footer__title Make Appointment <span>for Your Smile!</span>
        .col-6.col-lg-3
          .footer__phone
            .footer__phone-text.cta by phone
            a(href="tel:4106850002").footer__phone-link.h3 (410) 685 - 0002
        .col-6.col-lg-3
          button.btn.btn--footer
            span <span>book an </span>Appointment
  //END   top

  //BEGIN middle
  .footer-middle
    .container
      .row.bor-t
        .col-12.col-lg-6.footer-middle__left
          a(href="/").footer__logo
            img(src="assets/img/logo-footer.svg" alt="Dental Group")
            span © 2022. All rights reserved.
          div.footer__google
            .footer__item-title.cta find us on map
            a(href="https://goo.gl/maps/ydV85MtpZcgKfzGB8" target="_blank" rel="nofollow noopener noreferrer").btn.btn--google
              img(src="assets/img/google-maps.svg" alt="icon")
              span 300 N. Charles st. Suite D Baltimore MD 21201
        .col-6.col-lg-3
          .footer__item-title.cta Treatments
          ul.footer__menu
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Dental Bonding
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Denture Dentist
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Invisalign
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Root Canals
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Teeth Cleaning
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Teeth whitening
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Implants
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Restorative
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Family Dentist
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Dental Extractions
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Cosmetic Dentistry
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Teeth Grinding
        .col-6.col-lg-3
          .footer__item-title.cta For clients
          ul.footer__menu
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 About Us
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Team
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Reviews
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 FAQ
            li.footer__menu-item
              a(href="#").footer__menu-link.h5 Contact
  //END   middle

  //BEGIN bottom
  .footer-bottom
    .container
      .row.bor-t
        .col-12.col-md-8.col-lg-6
          .footer__info
            a(href="#").footer__info-link Financial Policy
            a(href="#").footer__info-link Patient Business Policy
            a(href="#").footer__info-link Privacy Practices
        .col-6.col-md-2.col-lg-3
          .footer__social
            a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer__social-link
              +svg('inst')
            a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer__social-link
              +svg('fb')
        .col-6.col-md-2.col-lg-3
          span.footer__design Design by <a href="#" target="_blank" rel="nofollow noopener noreferrer">Mate</a>
  //END   bottom
//END   footer
