//BEGIN header
header.header
  //BEGIN discount
  .header__discount#header__discount
    span.header__discount-close
      +svg('close')
    .container
      .row
        span.header__discount-text.col-12 Get 20% discount on next visit for review
  //END   discount

  //BEGIN main
  .header__main
    .container
      .row
        .col-6.col-md-7.header__left
          a(href="/").header__logo
            img(src="assets/img/logo-header.svg" alt="Dental group")

          include ../elements/burger

          nav.header__nav
            ul.header__nav-list
              li.header__nav-item.header__nav-item--main
                include ../elements/menu
                a(href="#").header__nav-link
                  +svg('menu')
                  | Treatments
              li.header__nav-item
                a(href="#").header__nav-link About us
              li.header__nav-item
                a(href="#").header__nav-link Team
              li.header__nav-item
                a(href="#").header__nav-link Contact

        .col-6.col-md-5.header__right
          a(href="tel:4106850002").btn.btn--transparent
            +svg('phone')
            span (410) 685-0002

          button.btn.btn--default
            span <span>book an </span> Appointment
  //END   main
//END   header