//BEGIN index-top
.index-top
  .container
    .row
      .col-12.col-lg-6.index-top__item
        h2.index-top__title.h1 Dental <span>Care <br> for all Family</span> <br> in Baltimore
        button.btn.btn--default
          span book an Appointment
        .index-top__text
          p.body-l Our clients are our priority, we offer quality dental services with a team of experienced dentist specialists. As result – 96.2% positive real reviews.
        .index-top__footer
          .index-top__google-reviews-widget
            img(src="assets/img/google-reviews.jpg" alt="google reviews")
          .index-top__awards
            img(src="assets/img/index-top-stickers.png" alt="awards")
//END   index-top