//BEGIN index-reviews
.index-reviews.p-120.bor-t
  .container
    .row
      .col-12.col-lg-8
        h2.index-reviews__title.h2 Real testimonials <span>on Google</span>
      .col-12.col-lg-4.index-reviews__right
        .index-reviews__rating
          .index-reviews__rating-num.h3 4.7
          a(href="#" target="_blank" rel="nofollow noopener noreferrer").index-reviews__rating-link 323 reviews
        a(href="#").index-reviews__btn.btn.btn--default
          span write a review
//END   index-reviews