//BEGIN index-why-we
.index-why-we.p-120
  .container
    .row
      .col-12.index-why-we__item
        h2.index-why-we__title.h2 <span>Baltimore City Dental Group</span> are provide a more convenient and affordable way to secure essential dental services. As a <span>dentist office with more than 20 years of experience</span>, we take pride in offering the largest local selection of treatments for adults, children, and seniors.
    .row.justify-content-between
      .col-12.col-md-6.index-why-we__text.body-m
        p We’re experienced pediatric dentists, and we’re more than happy to help treat problems that arise as your little one grows older. From the first cavity to wisdom tooth removal, we’re there for your child at every stage of life. Like many Americans, you and your family brush and floss your teeth regularly to keep your smiles looking clean and healthy. However, what happens when disease, injury, and even genetics stop you or a loved one from maintaining the smile you want? You deserve advice and treatment from a trusted local dentist in Baltimore.
      .col-12.col-md-6.col-lg-5.index-why-we__text.body-m
        p Schedule a comprehensive exam for your child, or ask about prosthetic implants and devices for your aging parent — you can do both of these and more when you make us your trusted general dentist
//END   index-why-we