//BEGIN index-form
.index-form
  .container
    .row
      .col-12.col-lg-5.col-xl-4.index-form__item
        h2.index-form__title.h2 Make Appointment <span>for Your Smile!</span>
        .index-form__descr Just send request and out team contact you in 5 minutes.
        //BEGIN form
        .form
          .form__input
            input(placeholder='Your Full Name')
            span Your Full Name
          .form__input
            input(placeholder='Phone')
            span Phone

          button.form__btn.btn.btn--default
            span contact me

          .form__or
            span or

          button.form__btn-transparent.btn.btn--transparent
            span book an Appointment online

        //END   form
      .col-xl-1

//END   index-form