//BEGIN index-services
.index-services.p-120
  .container
    .row
      .col-12.index-services__item
        h2.index-services__title.h2 Choose <span>an Experienced</span> General Dentist
        .index-services__descr.body-l
          p Don’t settle for dental services administered by any clinic. Instead, choose a dentist office that can offer more than two decades’ worth of guidance and resources. Our staff knows that not everyone’s mouth is the same. Therefore, not every treatment is right for your smile’s particular needs. Rest easy knowing we evaluate every course of treatment available to you before recommending one in particular.

  include ../sections/services-list
//END   index-services