//BEGIN sale
.sale
  .container
    .sale__item.col-12.col-md-7
      h2.sale__title.h2 Stay on top of your family’s oral health care – <span>a comprehensive exam for each person</span>
      .sale__descr.body-l Exams are great starting points for anyone interested in gleaning insight into their smiles’ condition. Emergency exams are available as well—just let our dentist office know that you need urgent service, and we’ll coordinate the rest at your convenience.
      .sale__price
        span start at just from
        span.h3 $99
      button.sale__btn.btn.btn--default
        span book an Appointment
//END   sale