*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 18px;
  line-height: 1.38;
  color: #151515;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

ol,
ul {
  li {
    padding: 0;
  }
}

//ul {
//  li {
//    // путь к кастомной картинке пункта ul
//    // list-style-image: url('../img/ul.png');
//  }
//}
//
////кастомные пункты списка с цифрами
//ol {
//  // list-style: none;
//  // @include counter(li);
//  li::before {
//    // color: $brand;
//  }
//}
//
input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

//input {
//  padding: 3px 10px 5px 10px;
//  color: $text;
//  border: 1px solid $text;
//
//  @include placeholder-color($text);
//}
//
//textarea {
//  resize: none;
//}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

//изменяем цвет выделения текста мышью
::selection {
  color: #fff;
  background-color: $brand;
  text-shadow: none;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //  //свойство для исправления бага 100vh для мобильных
  //  min-height: -moz-available;
  //  min-height: -webkit-fill-available;
  //  min-height:         fill-available;

  -webkit-overflow-scrolling: touch;
  //  &.no-scroll {
  //    overflow: hidden;
  //  }
}

.main {
  flex-grow: 1;
}

div.container {
  position: relative;
  width: 100%;
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 10px;

  @include min(576) {
    padding: 0 40px;
  }
  @include min(1200) {
    padding: 0 70px;
  }
  @include min(1400) {
    padding: 0 125px;
  }
}

.p-120 {
  padding-top: 40px;
  padding-bottom: 40px;

  @include min(768) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include min(992) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.bor-t {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    content: '';
    background-color: rgba(138, 138, 138, .2);
  }
}

/* begin WITH DISCOUNT */
.main-wrap--with-discount {
  padding-top: 40px;

  .menu {
    top: 110px;

    @include min(375) {
      top: 115px;
    }
    @include min(576) {
      top: 125px;
    }
  }

  .menu > .container {
    height: calc(100vh - 110px);

    @include min(375) {
      height: calc(100vh - 115px);
    }
    @include min(576) {
      height: calc(100vh - 125px);
    }
  }
}

/* end   WITH DISCOUNT */
