*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 18px;
  line-height: 1.38;
  color: #151515;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

ol,
ul {
  li {
    padding: 0;
  }
}

//ul {
//  li {
//    // путь к кастомной картинке пункта ul
//    // list-style-image: url('../img/ul.png');
//  }
//}
//
////кастомные пункты списка с цифрами
//ol {
//  // list-style: none;
//  // @include counter(li);
//  li::before {
//    // color: $brand;
//  }
//}
//
input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

//input {
//  padding: 3px 10px 5px 10px;
//  color: $text;
//  border: 1px solid $text;
//
//  @include placeholder-color($text);
//}
//
//textarea {
//  resize: none;
//}

svg {
  display: block;
  overflow: visible;
}

//изменяем цвет выделения текста мышью
::selection {
  color: #fff;
  background-color: $brand;
  text-shadow: none;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //  //свойство для исправления бага 100vh для мобильных
  //  min-height: -moz-available;
  //  min-height: -webkit-fill-available;
  //  min-height:         fill-available;

  -webkit-overflow-scrolling: touch;
  //  &.no-scroll {
  //    overflow: hidden;
  //  }
}

.main {
  position: relative;

  flex-grow: 1;
}

div.container {
  position: relative;
  width: 100%;
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 10px;

  @include min(576) {
    padding: 0 40px;
  }
  @include min(1200) {
    padding: 0 70px;
  }
  @include min(1400) {
    padding: 0 125px;
  }
}

.p-120 {
  padding-top: 40px;
  padding-bottom: 40px;

  @include min(768) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include min(992) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.pb-120 {
  padding-bottom: 40px;

  @include min(768) {
    padding-bottom: 80px;
  }
  @include min(992) {
    padding-bottom: 120px;
  }
}

.bor-t {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: rgba(138, 138, 138, .2);
  }
}

/* begin WITH DISCOUNT */
.main-wrap--with-discount {
  padding-top: 40px;

  .menu {
    top: 110px;

    @include min(375) {
      top: 115px;
    }
    @include min(576) {
      top: 125px;
    }
  }

  .menu > .container {
    height: calc(100vh - 110px);

    @include min(375) {
      height: calc(100vh - 115px);
    }
    @include min(576) {
      height: calc(100vh - 125px);
    }
  }
}

/* end   WITH DISCOUNT */

/* begin CUSTOM SCROLLBAR */
.simplebar-scrollbar,
.simplebar-scrollbar::before {
  opacity: 1;
  border-radius: 5px;
  background: $brand;
}

.simplebar-track {
  transform: translateX(-10px);
  border: 1px solid rgba(138, 138, 138, .3);
  border-radius: 7px;

  @include min(576) {
    transform: translateX(0px);
  }
}

.simplebar-vertical {
  width: 8px !important;
}

/* end   CUSTOM SCROLLBAR */

/* begin INPUT + TEXTAREA + CHECKBOX */
.input,
.input-date,
.textarea {
  position: relative;
  margin-bottom: 10px;
  transition: .2s;

  &.active {
    input,
    textarea {
      padding: 36px 24px 12px 24px;
    }

    span {
      opacity: 1;
    }
  }

  &.error {
    input,
    textarea {
      border-color: #ea4848;
      background-color: #fff7f7;
    }

    .error-mess {
      display: block;
    }
  }

  .error-mess {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    display: none;
    color: #ea4848;
  }

  input,
  textarea {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    display: block;
    width: 100%;
    padding: 24px 15px;
    transition: .2s;
    color: #404040;
    border: 1px solid rgba(138, 138, 138, .15);
    border-radius: 2px;
    background-color: #fff;

    @include placeholder-color(#151515, 13px);
    @include min(768) {
      padding: 24px;
    }
  }

  input {
    height: 66px;
  }

  textarea {
    min-height: 120px;
    resize: none;
  }

  span {
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 15px;
    left: 25px;
    display: block;
    transition: .2s;
    opacity: 0;
    color: #404040;
  }
}

.checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  margin-bottom: 15px;

  input {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
  }

  span {
    position: relative;
    display: block;
    padding-left: 36px;
    user-select: none;
    pointer-events: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.35;
    padding-top: 3px;
    color: #404040;

    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      flex: none;
      width: 24px;
      height: 24px;
      content: '';
      pointer-events: none;
      border: 1px solid rgba(138, 138, 138, .15);
      border-radius: 2px;
      background-color: #f3f5f7;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 12px 12px;
    }
  }

  input:checked + span::before {
    background-image: url('../img/check.svg');
  }
}

/* end   INPUT + TEXTAREA + CHECKBOX */
