// ===== transition =====
$transition: .3s ease-in-out;

// ===== fonts =====
$font:      'HKGrotesk-Regular', sans-serif;
$font-medium: 'HKGrotesk-Medium', sans-serif;
$font-semibold: 'HKGrotesk-SemiBold', sans-serif;
$philosopher: 'Philosopher', sans-serif;