extends ../_template

block variables
  - let title       = 'Dental Group'
  - let description = 'Dental Group'

  - let breadcrumbs     = 'About'

block content
  #main-wrap.main-wrap
    include ../sections/header

    //begin content
    main.main
      include ../sections/about-top
      include ../sections/index-why-we
      include ../sliders/about-slider
      include ../sections/choose
      include ../sections/sale
      .p-120
        include ../sections/banner
      include ../sections/index-text
      .map#map
    //end content

    include ../sections/footer
    include ../elements/сhat
    include ../sections/scripts-with-map

