extends ../_template

block variables
  - let title       = 'Dental Group'
  - let description = 'Dental Group'

  - let breadcrumbs     = 'Dental Group'

block content
  #main-wrap.main-wrap.main-wrap--with-discount
    include ../sections/header

    //begin content
    main.main
      include ../sections/index-top

    //end content

    include ../sections/footer
    include ../elements/сhat
    include ../sections/scripts
