extends ../_template

block variables
  - let title       = 'Dental Group'
  - let description = 'Dental Group'

  - let breadcrumbs     = 'Dental Group'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main
      .container

    //end content

    include ../sections/footer
    include ../sections/scripts
