extends ../_template

block variables
  - let title       = 'Dental Group'
  - let description = 'Dental Group'

  - let breadcrumbs     = 'Dental Group'

block content
  #main-wrap.main-wrap.main-wrap--with-discount
    include ../sections/header-discount

    //begin content
    main.main
      include ../sections/index-top
      include ../sections/index-services
      include ../sliders/clinic-slider
      include ../sections/index-why-we
      include ../sliders/why-we-slider
      include ../sections/index-reviews
      include ../sliders/review-slider
      include ../sections/index-team
      include ../sliders/team-slider
      include ../sections/index-form
      include ../sections/index-text
      .map#map
    //end content

    include ../sections/footer
    include ../elements/сhat
    include ../sections/scripts-with-map

