.review-slider-wrap {
  overflow: hidden;
}

.review-slider {
  padding-bottom: 40px;

  @include min(768) {
    padding-bottom: 80px;
  }
  @include min(992) {
    padding-bottom: 120px;
  }

  .swiper-slide {
    opacity: .25;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: .25;

    @include min(768) {
      opacity: 1;
    }
  }

  .swiper-slide-active {
    opacity: 1;
  }
}

.review-slider__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.review-slider__icon {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;

  img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}

.review-slider__name {
  margin-bottom: 10px;
}

.review-slider__info-bottom {
  display: flex;
  align-items: center;
}

.review-slider__rating,
.review-slider__rating[data-rating='0'] {
  display: flex;
  user-select: none;

  span {
    font-size: 14px;
    display: block;
    flex: none;
    padding-left: 4px;
    color: #151515;
  }
}

.review-slider__rating[data-rating='1'] {
  span:nth-child(1) {
    color: #fbbb00;
  }
}

.review-slider__rating[data-rating='2'] {
  span:nth-child(1),
  span:nth-child(2) {
    color: #fbbb00;
  }
}

.review-slider__rating[data-rating='3'] {
  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3) {
    color: #fbbb00;
  }
}

.review-slider__rating[data-rating='4'] {
  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3),
  span:nth-child(4) {
    color: #fbbb00;
  }
}

.review-slider__rating[data-rating='5'] {
  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3),
  span:nth-child(4),
  span:nth-child(5) {
    color: #fbbb00;
  }
}

.review-slider__date {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  padding-left: 12px;
  user-select: none;
  white-space: nowrap;
  color: #8a8a8a;
}

.review-slider__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.35;
  padding-right: 15px;
  color: #151515;
}
