.request {
  padding-bottom: 80px;

  @include min(992) {
    padding-bottom: 100px;
  }
}

.request__title {
  margin-bottom: 20px;

  @include min(992) {
    margin-bottom: 60px;
  }
}

.request__left {
  margin-bottom: 40px;

  @include min(992) {
    margin-bottom: 0;
  }
}

.request__item {
  margin-bottom: 40px;
}

.request__subtitle,
.request__subsubtitle {
  margin-bottom: 20px;
}

.request__textarea,
.request__input {
  margin-bottom: 20px;

  input,
  textarea {
    background-color: #f3f5f7;
  }

  textarea {
    min-height: 66px;
  }
}

.request__input--date {
  &.active {
    &::before {
      transform: translateY(10px);
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: 25px;
    bottom: 0;
    width: 24px;
    height: 24px;
    margin: auto;
    content: '';
    cursor: pointer;
    transition: .5s;
    pointer-events: none;
    background-color: #f3f5f7;
    background-image: url('../img/calendar.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.request__emergency {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  span {
    &:first-child {
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: none;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      text-align: center;
      color: #8a8a8a;
      border: 1px dashed rgba(138, 138, 138, .25);
      border-radius: 50%;
    }

    &:last-child {
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
      color: #8a8a8a;
    }
  }
}

.request__emergency-add {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    &:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: none;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border: 1px dashed rgba(138, 138, 138, .25);
      border-radius: 50%;

      svg {
        fill: $brand;
        width: 16px;
        height: 16px;
      }
    }

    &:last-child {
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      color: #49b858;
    }
  }
}

.request__footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min(576) {
    flex-direction: row;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;

    @include min(576) {
      width: auto;
      margin-bottom: 0;
    }
  }
}

.request__encrypted {
  display: flex;
  align-items: center;

  @include min(576) {
    margin-left: 40px;
  }

  svg {
    flex: none;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  span {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35;
    padding-top: 3px;
    color: #404040;
  }
}

/* begin DOC */
.request__doc {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgba(138, 138, 138, .15);
  border-radius: 4px;

  @include min(375) {
    flex-direction: row;
    align-items: center;
  }
  @include min(992) {
    align-items: normal;
    padding: 0;
  }
}

.request__doc-ava {
  overflow: hidden;
  min-width: 130px;
  margin-bottom: 20px;
  border-radius: 4px;

  @include min(375) {
    max-width: 200px;
    margin-bottom: 0;
  }
  @include min(992) {
    max-width: 100%;
    margin-bottom: 20px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.request__doc-info {
  padding-left: 15px;

  @include min(992) {
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
  }
}

.request__doc-position {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #8a8a8a;
}

.request__doc-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:hover {
    svg {
      fill: $brand;
    }

    span {
      color: $brand;
    }
  }

  svg {
    flex: none;
    width: 16px;
    height: 16px;
    margin-right: 13px;
    transition: .5s;
  }

  span {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.35;
    transition: .5s;
    color: #151515;

    @include min(576) {
      font-size: 15px;
    }
  }
}

/* end   DOC */
